<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
    <style>
#attack-on-titan-button {
  width: 80vw;
  height: 80vh;
background-image: url("static/attack-on-titan.webp");
background-position: center center;
background-size: 100% 100%;
}
    </style>
  </head>
  <body>
    <button id="attack-on-titan-button">Start attack on titan</button>
    <p id="loading-text" style="visibility:hidden">Loading...</p>
    <script src="static/index.js">
    </script>
  </body>
</html>
